PORT=3000

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SYNC=

JWT_SECRET=
JWT_EXPIRES_IN=

OPENWEATHER_API_KEY=
OPENROUTESERVICE_API_KEY=

EXTERNAL_API_TIMEOUT_MS=
WEATHER_CACHE_TTL_MS=
ROUTING_CACHE_TTL_MS=

THROTTLE_TTL_MS=
THROTTLE_LIMIT=